[Desktop Entry]
Name=Financial Control
Comment=Financial Control.
GenericName=Financial Control
Exec=/home/lazarone/projetos/churchFiles/app/financialControl-linux-x64/financialControl %F
Icon=/home/lazarone/projetos/churchFiles/app/financialControl-linux-x64/resources/app/icon.png
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;TextEditor;Development;
MimeType=text/plain;
